<div class="bg">
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand"><img src="../../../assets/images/logoOhayo.png" width="65%" height="35%" class="icon"
            alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#fff; font-size:28px;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="inicio">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Noticias</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item drop" href="mangaNews">Manga</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item drop" href="animeNews">Anime</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="foro">Foro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="registro">Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center"> <img src="https://i.ytimg.com/vi/0TcJmpTpzcQ/maxresdefault.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3"> <a href="javascript:void(0)" data-abc="true">Mi abuelo</a>
                            <div class="text-muted small">13 days ago</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div>Member since <strong>01/1/2019</strong></div>
                            <div><strong>134</strong> posts</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum quibusdam quasi, earum illum praesentium ex excepturi odit! Atque eaque, quaerat aliquam recusandae magnam ipsum enim incidunt beatae ipsam commodi!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ex, quisquam neque quidem doloremque sint aperiam eveniet dolore, fugit in iusto sit, cum voluptatem. Corrupti accusantium impedit maxime reiciendis magni.</p>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> </a> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span> </div>
                    <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i class="ion ion-md-create"></i>&nbsp; Reply</button> </div>
                </div>
            </div>
        </div><div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center"> <img src="https://cadenaser00.epimg.net/ser/imagenes/2019/11/12/politica/1573572603_729216_1573572673_noticia_normal.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3"> <a href="javascript:void(0)" data-abc="true">Jesucristo</a>
                            <div class="text-muted small">13 days ago</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div>Member since <strong>01/1/2019</strong></div>
                            <div><strong>134</strong> posts</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum quibusdam quasi, earum illum praesentium ex excepturi odit! Atque eaque, quaerat aliquam recusandae magnam ipsum enim incidunt beatae ipsam commodi!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ex, quisquam neque quidem doloremque sint aperiam eveniet dolore, fugit in iusto sit, cum voluptatem. Corrupti accusantium impedit maxime reiciendis magni.</p>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> </a> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span> </div>
                    <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i class="ion ion-md-create"></i>&nbsp; Reply</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</div>