<body>
    <div class="container-fluid justify-content-center login">
        <div class="login-triangle"></div>
        
        <h2 class="login-header">Sign up</h2>
      
        <form class="login-container">
        <p><input type="text" placeholder="Username"></p>
          <p><input type="email" placeholder="Email"></p>
          <p><input type="password" placeholder="Password"></p>
          <p><input type="password" placeholder="Confirm password"></p>
          <p><input type="submit" value="Sign up"></p>
        </form>
    </div>
    
</body>