$darkgray: rgba(66, 62, 79, 1);
$babypink: rgba(255, 201, 211, 1);
$darkpink: rgba(255, 157, 176, 1);
$cyan: rgba(52, 181, 225, 1);
$babyblue: rgba(120, 203, 235, 1);

ion-title{
    background: $cyan;
}

.container-fluid{
    padding-left: 0% !important;
}

h3{
    font-size: x-large;
    padding-left: 10%;
}

.logo{
    padding-top: 0.5%;
    width: 10%;
}
.menu{
    position: fixed;
    padding-top: 0.1%;
    height: 100%;
    width: 230px;
    background: $cyan;
    overflow: scroll;

    &__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $cyan;

    }
}

.menu::-webkit-scrollbar{
    width: 1em;
}

.menu::-webkit-scrollbar-track{
    background-color: $babyblue;
}

.menu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 24px;
    border-radius: 24px;
    background-image: url("/../assets/images/axolotl.png");
    background-position: center;
    background-repeat: no-repeat, no-repeat;
  }

.menuSection li a {
    display: block;
    color: whitesmoke;
    padding: 5% 6%;
    text-decoration: none;
    width: 150%;
}
  
.menuSection li a:hover {
    background-color: $babyblue;
    color: $darkgray;
    
}

.main{
    padding-top: 0.5%;
    font-size: 115%;
}

span{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 5%;
}

ion-icon{
    display: inline-block;
    font-size: 115%;
    text-align: center;
    vertical-align: middle;
}

h3{
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    color: $darkgray;
}