
  <ion-toolbar>
    <ion-title>
      <a href="/homepage"><img src="../assets/images/logoOhayo.png" class="logo"></a>
    </ion-title>
  </ion-toolbar>

<ion-content>
  <div class="container-fluid">
    <div class="row">
      <div class="menu col-md-2">
        <div class="menuSection">
          <br>
          <ul class="menu__nav main nav flex-column">
            <li><a href="/homepage"><ion-icon name="home-outline" slot="start"></ion-icon><span>Home</span></a></li>
            <li><a href="/news"><ion-icon name="newspaper-outline"></ion-icon><span>News</span></a></li>
            <li><a href="/merchandise"><ion-icon name="pricetags-outline"></ion-icon><span>Merchandise</span></a></li>
          </ul>
        </div>
        <br>
        <div class="menuSection">
          <ul class="menu__nav">
            <li><ion-icon name="videocam-outline"></ion-icon></li>
            <li><a href="default.asp">News</a></li>
            <li><a href="news.asp">Category</a></li>
            <li><a href="contact.asp">Popular</a></li>
            <li><a href="about.asp">Discussion</a></li>
          </ul>
        </div>
        <div class="menuSection">
          <h3>Anime</h3>
          <ul class="menu__nav">
            <li><a href="default.asp">News</a></li>
            <li><a href="news.asp">Category</a></li>
            <li><a href="contact.asp">Popular</a></li>
            <li><a href="about.asp">Discussion</a></li>
          </ul>
        </div>
        <div class="menuSection">
          <h3>Anime</h3>
          <ul class="menu__nav">
            <li><a href="default.asp">News</a></li>
            <li><a href="news.asp">Category</a></li>
            <li><a href="contact.asp">Popular</a></li>
            <li><a href="about.asp">Discussion</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
</ion-content>
