<div class="container-fluid d-flex justify-content-center main">
    <form class="mt-5 col-6 bg-dark text-light pt-4 pb-5 mb-5 rounded">
        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend bg-primary">
                <div class="input-group-text">@</div>
              </div>
              <input type="email" class="form-control" id="email" placeholder="Email" required>
            </div>
          </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="suggestion">Suggestions</label>
            <textarea class="form-control" id="suggestion" rows="6" placeholder="Suggestions" required></textarea>
          </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
</div>