<div class="d-flex flex-row main">
    <!-- Left side info -->
    <div class="container-fluid d-flex flex-column justify-content-center left">

        <!-- Header -->
        <h1 class="subtitle">Angular</h1>

        <!-- Body -->
        <p class="text">Introductory exercise to the angular framework.</p>
        <h1 class="title">Stay cool</h1>
        <a class="btn d-flex align-items-center text-light" routerLink="/suggestions">&nbsp;NOTIFY ME
            <span class="d-flex align-items-center arrow">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
            </span>
        </a>

        <!-- Footer -->
        <div class="footer d-flex align-items-center">
            <img src="../../../assets/icons/facebook.png">
            <img src="../../../assets/icons/Twitter.png">
            <img src="../../../assets/icons/pinterest.png">
            <img src="../../../assets/icons/youtube.png">
            <small>Jesus Pinto Hermosell &copy; 2020</small>
        </div>
    </div>

    <!-- Right side image -->
    <div class="container-fluid col-6 right">
    </div>
</div>